<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="CapstoneSuite">

    <listeners>
        <listener
        class-name="listeners.Listenerclass"/>
    </listeners>

    <test name="AutomationTest">

        <classes>

            <class
            name="testcases.AutomationPracticeTest"/>

        </classes>

    </test>

</suite>